* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fruit-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.fruit {
    display: flex;
    flex-direction: column;
    border: 1px solid darkblue;
    border-radius: .1rem;
}

.fruit-img>img{
    width: 15rem;
}

.fruit-name {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: .5rem 0;
    background-color: darkblue;
    color: aliceblue;
}